{% extends 'base.html' %}

{% load static %}

{% block content %}
<a href="{% url 'currency:source_create' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Create
    Source</a>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col"> Id </th>
        <th scope="col"> &nbsp; </th>
        <th scope="col"> Source URL </th>
        <th scope="col"> Name </th>
        <th scope="col"> Contact Number </th>
    </tr>
    </thead>

    {% for source in source_list %}

    <tr>
        <td> {{ source.id }}</td>
        <td>
        {% if source.logo %}
            <img src="{{ source.logo.url }}" width="30" height="30">
        {% else %}
            <img src="{% static  'img/logo-placeholder.jpg' %}" width="40" height="40">
        {% endif %}
        </td>
        <td> {{ source.source_url }}</td>
        <td> {{ source.name }}</td>
        <td> {{ source.contact_number }}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" href="#" role="button"
                        id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'currency:source_update' source.id %}">Edit</a>
                    <a class="dropdown-item" href="{% url 'currency:source_delete' source.id %}">Delete</a>
                </div>
            </div>
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock content %}